/* Global styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: futura-pt, sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	color: #fff;
	background: linear-gradient(to bottom right, #ff0000, #022EA8, #ffa500);
}

h2 {
	font-family: input-mono-compressed, monospace;
	font-weight: 700;
  }

h3 {
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;
  }
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 100;
  border-radius: 50px;
  width: calc(100% - 40px);
  height: calc(19% - 40px);
  margin: 20px;
  backdrop-filter: blur(200px);
}

nav a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  color: #fff;
  font-family: input-mono-compressed, monospace;
  font-weight: 700;
  font-style: normal;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  font-size: 18px;
  font-family: input-mono-compressed, monospace;
  font-style: normal;
  font-weight: 700;
}

/* Hero styles */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 24px;
  font-weight: 400;
}

.hero-objects {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-object {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 10px;
  animation: moveObject 2s ease-in-out infinite alternate;
}

.hero-object:nth-of-type(1) {
  animation-delay: 0s;
}

.hero-object:nth-of-type(2) {
  animation-delay: 0.5s;
}

.hero-object:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes moveObject {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) rotate(0);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}

  /* Skills styles */

.skills {
  padding: 100px 50px;
}

.skills h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.devicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.devicons i {
  font-size: 60px;
  margin: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.devicons i:hover {
  transform: scale(1.2);
}

/* Projects styles */

.projects {
  padding: 100px 50px;
}

.projects h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}


.project {
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  backdrop-filter: blur(200px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project a {
  color: #fff;
  text-decoration: none;
}

.project a span {
  position: relative;
}

.project ul {
	list-style-type: none;
}

.project a span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-image: linear-gradient(to right, transparent, #fff, transparent);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: center;
}

.project a span:hover::after {
  transform: scaleX(1);
}

  

/* Footer styles */

footer {
  background-color: #00217E;
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  font-size: 16px;
  font-family: input-mono-compressed, monospace;
  font-style: no;
  font-weight: 300;
  text-decoration: none;

}

.social {
  display: flex;
  align-items: center;
}

.social a {
  margin-right: 20px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social a:hover {
  transform: translateY(-5px);
}

.social a i {
	color: #fff;
	font-size: 24px;
	font-family: input-mono-compressed, monospace;
	font-weight: 300;
	font-style: normal;
  }

.social a i:hover {
	font-style: italic;
}